*{
    font-family: 'Rubik', sans-serif;
    text-decoration:none;
    list-style-type: none;
    color:#111
}

body {
    background-color: #f3f3f3;
}

header{
    background-color: #fff;
    width: 100%;
    height: 150px;
}



header .profilepic img{
    border-radius:25%;
    position: absolute;
    right: 7rem;
    top: 2rem;
    width: 100px;
    height: auto;
    

}

header .profilepic img:hover {
    filter: brightness(50%);
  
}
header .name {
   
    font-size: 75px;
    font-weight: 400;
    color: #111;
    display:block;
    margin: 0 auto;
    text-align:center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-inline-start: 0;
    
    
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
   
    font-size: 20px;
    color:#111;
}

header nav ul li a:hover {
    text-decoration: underline;
}
header .projects-link {
    display:none;
}

main {
   text-align: center;
  
}

section {
    padding:20px;
}
.boxlink {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #7a7a7a;
    text-transform: uppercase;
    line-height: 100px;
    font-weight: 600px;
    color:#111;
}
.boxlink:hover {
    color:#fff;
    background-color: black;
    
}
footer img{
        padding: 10px;
        width: 30px;
        height: 30px;
        display: right;
}
.footer-sm {
    text-align: center;
}

footer img:hover {
    filter:invert()
}
/* Projects Page */
.project-welcome {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

img {
    height: 300px;
    width: 300px;
}

.project-index li {
    display: inline-block;
    padding: 3em;
}

.map {
    text-align: center;
    font-size: 20px;
   
}
.eyes {
    text-align: center;
    font-size: 20px;
}
.pac {
    text-align: center;
    font-size: 20px;
}
.map:hover {
    text-decoration: underline;
}

.eyes:hover {
    text-decoration: underline;
}

.pac:hover {
    text-decoration: underline;
}

/*connect page*/

.connect-h1 {
    padding:5rem;
    text-align: center;
}