 img {
  border-radius: 50%;
}  


body, html {
    margin: 0px;
    padding: 0px;
    background-color: #a19d9d;
    font-family: 'Rubik', sans-serif;
}

header {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 150px;
    line-height: 120px;
    background-color:rgb(41, 94, 85);
