*{
    font-family: 'Rubik', sans-serif;
    text-decoration:none;
    list-style-type: none;
}
img {

    border-radius: 50%;
}  

body {
    background-color: #f3f3f3;
}

header{
    background-color: #fff;
    width: 100%;
    height: 150px;
}

header .name {
   
    font-size: 75px;
    font-weight: 400;
    color: #111;
    display:block;
    margin: 0 auto;
    text-align:center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    
    
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
   
    font-size: 20px;
    color:#111;
}

header .projects-link {
    display:none;
}

main {
   text-align: center;
   padding: calc(100vh - 100)
}

section {
    padding:20px;
}

.index-boxlink-1 {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #7a7a7a;
}

.index-boxlink-2 {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #7a7a7a;
}

.index-boxlink-3 {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #7a7a7a;

}   


    
  
footer{

}

